/* CONTACT SECTION */

.contact-paragraph {
/*width: 100%;*/
text-align: center;
padding: 2rem;
line-height: 2rem;
}

.contact-title {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.titles {
    margin-top: 2rem;
}

.contact-wording {
    line-height: 2rem;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    line-height: 2rem;
}

/* RESERVATION SECTION */
.reservation-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgb(226, 229, 233) 0%, rgb(189, 179, 162)100%)
}

.reservation-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align:start;
    align-items: flex-start;
    height:fit-content;
    padding: 1rem 0 3rem 0;
    }

.form-item {
    margin: 0.3rem;
    padding: 0.7rem;
    width:15rem;
}

.form-label {
    margin-top: 1rem;
    padding-left: 0.5rem;
}

.option-container {
    display: block;
}

.radio-btn {
    margin:0.5rem;
}

.reserve-btn {
    padding: 0.6rem;
    margin: 0.5rem;
    width: 7rem;
    align-self:center;
    cursor: pointer;
}
 
@media screen and (min-width: 768px){
    /* RESERVATION SECTION */
    .form-item {
        width:25rem;
    }
    .contact-wording {
        padding: 2rem 5rem;
    }
}

@media screen and (min-width: 1024px){

    /* CONTACT SECTION */
    .contact-wording {
        padding: 2rem 9rem;
}
}

@media screen and (min-width: 1680px){
    .contact-wording {
        padding: 2rem 15rem;
}
}
