    /* GENERAL STYLES */
html {
    min-width: 320px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Helvetica, Arial, 'Lucida Sans', 'Lucida Sans Regular';
    background-color: #66666620;
}

    /* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1 {
    font-size:1.8rem;
    color: #353d01;
    font-weight: 500;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
}

/* HEADER STYLES */
.page-header {
    background: linear-gradient(90deg, rgb(118, 130, 150) 0%, rgb(80, 62, 28)100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0.5rem;   
    color:whitesmoke;
}

.header-logo {
    width: 7rem;
    height: 6rem;
    margin: 0rem 3rem;
}

    /* GOOGLE MAP */
#googleMap {
    width:100%;
    height:60vh;
}   
    /* CONTACT STYLES */
.contact-section-titles {
    padding: 1.8rem 0 1rem 0;
}
    
.contact-section-main-title {
    padding: 1.5rem 0 0.1rem 0;
    font-weight: 500;
}
    
.contact-container { 
    background: linear-gradient(90deg, rgb(118, 130, 150) 0%, rgb(80, 62, 28)100%);
    color: white;
    padding: 10%;
}
    
.contact-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;}
    
.subscribe-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    
.subscribe-item {
    border-color: rgba(255, 255, 255, 0.737);
    border-style: solid;
    background-color:transparent;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    width: 80vw;
}
    
.subscribe-btn {
    border-color: white;
    color: white;
    background-color:transparent;
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    width: 6rem;
    text-align:center;
    align-self: center;
    cursor: pointer;
}

.placeholder-email, .placeholder-name {
    color:white;
}

.subscribe-item::placeholder {
    color:white;
    opacity: 0.8;
} 
 .subscribe-btn:hover {
    color: rgb(77, 58, 4);
    background-color: whitesmoke;
 }

.contact-text {
   line-height: 1.4rem;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    font-size: 0.9rem;
    color:rgb(30, 35, 1);
}
.icons {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin: 10px;
    background-repeat: no-repeat        
}

.facebook-logo {
    background-image:URL("../Photos_restaurant/facebook.svg")}  

.instagram-logo{
    background-image:URL("../Photos_restaurant/instagram.svg")}

.social-logo {
    display: flex;
    flex-direction: row;
}
.facebook-logo:hover, .instagram-logo:hover{
    box-shadow: 2px 2px 1px rgb(27, 19, 4);
}
/* HAMBURGER MENU */
@media (max-width: 767px) {
a {
    text-decoration: none;
    color: #1e2301;
}

#menu_toggle {visibility: hidden;}
.hamburger-button {
    display: block;
    align-items:center;
    position:relative;
    top: 20px;
    right:55px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1;
}

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    transition-duration: 0.2s;
}

.hamburger-lines::before {
    content: "";
    top: -10px;
}

.hamburger-lines::after {
    content: "";
    top: 10px;
}

.menu-box {
    display: block;
    position: absolute;
    top:117px;
    margin-left:30px;
    width: 60%;
    height:40%;
    padding: 75px, 0;
    background-color: whitesmoke;
    visibility: hidden;
    box-shadow:  2px 0 5px rgba(0, 0, 0, 0.5);  
}

.dropdown-content {display: none;}

.header-menu-item  a:hover {
    color: #8d9f07;
}

.header-menu-item {
    padding: 20px 55px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;        
}
 
#menu_toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
}

#menu_toggle:checked ~ .hamburger-button .hamburger-lines {transform: rotate(45deg);}
#menu_toggle:checked ~ .hamburger-button .hamburger-lines::before {display: none;}
#menu_toggle:checked ~ .hamburger-button .hamburger-lines::after {top: 0; transform: rotate(90deg);}
}
    /* END OF HAMBURGER MENU */


/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
   
}
@media screen and (min-width: 768px) {

/* HEADER */
#menu_toggle {
        display: none;
}

.header-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
        
.header-menu-item {
    margin:1rem 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

/*DROPDOWN MENU*/
ul {overflow: hidden;}

li {float:left;}

li a .dropbtn {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;  
}

li a:hover, .dropdown:hover .dropbtn {color: #8d9f07;}

li.dropdown {display: inline-block;}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:#e3e4dcdc;}

.dropdown:hover .dropdown-content { display: block;}

/* CONTACT STYLES */
.contact-container {
    padding: 5rem;
    justify-content: space-evenly;
}
}

@media screen and (min-width: 992px) {

    /* HEADER */
.page-header {
    padding:0rem 6rem;
}

/*CONTACT*/
.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
    padding: 5% 15%;
}

.subscribe-box {
    width: 50%;
    padding-left: 4rem;
    align-self: center;
}

.contact-box {
    width: 50%;
    padding-right: 4rem;
}

.subscribe-item {
   width: 100%;
}
}

@media screen and (min-width: 1600px) {
.page-header {
    padding:0rem 10rem;
}    
}